body{
    background-image: url("https://images7.alphacoders.com/904/904942.png");
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
}

.menu{
    background-color: antiquewhite;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.site-title,
.site-subtitle {
    color: whitesmoke;
    text-align: center ;
}

.site-subtitle {
    font-family: italic;
}
