* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    background-size: auto 100vh;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai varregar estes estilos*/
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}

header {
    background-image: url("https://i.redd.it/2qoh5kvm9tjx.png");
    background-size: 1920px 100vh;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.menu{  
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
    transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
    background-color: black;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.site-title,
.site-subtitle {
    color: whitesmoke;
    text-align: center ;
}

/* font-size proporcional a 4x o font-size do body*/
.site-title {
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
}

.site-title::after{
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
}

@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

.site-subtitle {
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.8em;
}

.img-sobre{
    width: 280px;
    height: 280px;
    object-fit: cover;
    object-position: top;
}

.sobre p {
    color: white;
    text-indent: 1.5em;
    margin-bottom: 1.4em;
    text-align: justify;
}

.sobre .avatar {
    float: left;
    margin-right: 2em;
}

.img-sobre {
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.sobre,
.contato,
.portfolio {
    background-color: black;
    padding: 2em;
    min-height: 100vh;
}

@media (min-width: 1200px) {
    .container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
    }
}

.portfolio .grid {
    display: grid;
    gap: 2em;
}

@media (min-width: 640px) {
    .portfolio .grid {
        display: grid;
        gap: 2em;
        grid-template-columns: 280px 280px;
    }
}

@media (min-width: 900px) {
    .portfolio .grid {
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(3, 280px);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 8em - 48px);
    }
}

@media (min-width: 1200px) {
    .portfolio .grid {
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(4, 280px);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 8em - 48px);
    }
}

.portfolio figure {
    text-align: center;
}

figcaption {
    color: white;
}

.sobre h2,
.contato h2,
.portfolio h2 {
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1.5em;
    text-align: center;
}

.img-portfolio {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 500ms;
}

.img-portfolio:hover {
    transform: scale(1.1) rotate(4deg);
}

.contato .icons{
    text-align: center;
}

.contato a {
    color: whitesmoke;
    font-size: 6em;
    transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px aliceblue;
}
